.SelectFilter{
    .Country{
        padding: 6px;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-right: 10px;
        color: #000;
    }
    .City{
        padding: 6px;
        border: 1px solid #ddd;
        border-radius: 4px;
        color: #000;
    }
}