.HomeWapper {
    width: 1180px;
    margin: 0 auto;
    .HearderTop{
        display: grid;
        grid-template-columns: auto auto auto;
        .SerachBox{
            text-align: left;
            margin: 10px 0px; 
            input{
                width: 30%;
                padding: 8px;
                border: 1px solid #ddd;
                border-radius: 4px;
            }
        }
        .BrandName{
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                font-weight: 700;
            }
        }
        .SelectedBox{
            text-align: right;
            margin: 10px 0px;
        }
    }
    .UserInfo{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .User{
        border: 1px solid #ddd;
        border-radius: 5px;
        background: #ddd;
        p{
            text-align: center;
        }
    }
    h2{
        text-align: right;
    }
}